body {
    font-family: Arial;
    background-color: #f5f5f5;
    text-align: center;
}

h1 {
    color: #ff6600;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.food-card {
    background: white;
    padding: 20px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}